.cards-on-board-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.cards-on-board-container .card-partner {
  position: absolute;
}
.cards-on-board-container .card-right {
  position: absolute;
}
.cards-on-board-container .card-me {
  position: absolute;
}
.cards-on-board-container .card-left {
  position: absolute;
}
