.cards-on-board-container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid white;
}
.cards-on-board-container .north {
  position: absolute;
  left: calc(50% - var(--card-width) / 2);
  top: 0;
}
.cards-on-board-container .east {
  position: absolute;
  right: 0;
  top: calc(50% - var(--card-height) / 2);
}
.cards-on-board-container .south {
  position: absolute;
  left: calc(50% - var(--card-width) / 2);
  bottom: 0;
}
.cards-on-board-container .west {
  position: absolute;
  left: 0;
  top: calc(50% - var(--card-height) / 2);
}
