.table-image {
  position: fixed;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 30px);
  min-height: 600px;
  min-width: 800px;
}
.game-container .top,
.game-container .bottom {
  flex: 2;
  display: flex;
}
.game-container .middle {
  flex: 3;
  display: flex;
}
.game-container .top .left,
.game-container .top .middle,
.game-container .top .right,
.game-container .middle .left,
.game-container .middle .middle,
.game-container .middle .right,
.game-container .bottom .left,
.game-container .bottom .middle,
.game-container .bottom .right {
  flex: 1;
  position: relative;
}

.game-player {
  position: relative;
  height: var(--card-height);
  width: var(--hand-width);
  left: calc((100% - var(--hand-width)) / 2);
  top: calc((100% - var(--card-height)) / 2);
}
