.table-image {
  position: fixed;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}

.game-container {
  position: relative;
  top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 30px);
}
.game-container .top,
.game-container .middle,
.game-container .bottom {
  flex: 1 0;
  display: flex;
}
.game-container .top .left,
.game-container .top .middle,
.game-container .top .right,
.game-container .middle .left,
.game-container .middle .middle,
.game-container .middle .right,
.game-container .bottom .left,
.game-container .bottom .middle,
.game-container .bottom .right {
  flex: 1 0;
  position: relative;
}
.game-container .middle .middle {
  align-items: center;
}
