.header-container-game {
  display: flex;
  justify-content: center;
  height: 30px;
  align-items: center;
  background-color: var(--theme-cream);
  width: 100%;
  min-width: 800px;
}

/* Components of Header */
.header-logo-game {
  flex: 1;
  height: 26px;
  padding: 2px;
  background-color: var(--theme-sky);
}
.header-logo-game:hover {
  cursor: pointer;
}
.header-space-game {
  flex: 3 5 auto;
}
.header-title-game {
  flex: 4;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 6px;
}
.header-info-game {
  flex: 3;
  min-width: 250px;
}
.header-info-game .right {
  float: right;
}
.header-info-game .right .level {
  display: inline;
}
.header-info-game .right .exp {
  display: inline;
  padding-left: 16px;
  padding-right: 16px;
}
.header-info-game .right .coin-img {
  display: inline;
  height: 16px;
  transform: translateY(2px);
  padding-right: 2px;
}
.header-info-game .right .coins {
  display: inline;
}
.header-dropdown-game {
  flex: 1;
  margin-left: 16px;
  height: 26px;
  padding: 2px;
  background-color: var(--theme-sky);
}
.header-dropdown-game:hover {
  /* cursor: pointer; */
}
