.header-container-game {
  position: relative;
  display: flex;
  width: 100%;
  height: 5vh;
  background-color: var(--theme-light-blue);
}

/* Components of Header */
.header-logo-game {
  flex: 1;
  padding: 0.5vh;
  background-color: var(--theme-light-cream);
}
.header-logo-game:hover {
  background-color: var(--theme-cream);
  cursor: pointer;
}
.header-space-game {
  flex: 3;
}
.header-title-game {
  flex: 4;
  flex-shrink: 2;
  padding-top: 1vh;
  text-align: center;
  font-weight: bold;
  font-size: 1.0em;
  letter-spacing: 0.5em;
}
.header-info-game {
  flex: 3;
  min-width: 300px;
  padding-top: 1vh;
}
.header-info-game .right {
  float: right;
}
.header-info-game .right .level {
  display: inline;
}
.header-info-game .right .exp {
  display: inline;
  padding-left: 3vh;
}
.header-info-game .right .coin-img {
  display: inline;
  padding-left: 3vh;
  height: 16px;
  transform: translateY(2px);
  padding-right: 2px;
}
.header-info-game .right .coins {
  display: inline;
}
.header-dropdown-game {
  flex: 1;
  margin-left: 1vh;
  background-color: var(--theme-light-cream);
}
.header-dropdown-game:hover {
  background-color: var(--theme-cream);
  cursor: pointer;
}
