.header-width-cap-container {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid var(--tinted-white);
  padding: 0.3rem 0;
  background-color: var(--theme-cream);
}
.header-width-cap {
  height: 70px;
  width: 100%;
  max-width: 1500px;
}

/* LOGO */
.header-width-cap .logo {
  float: left;
}

/* TITLE */
.header-width-cap .header-title {
  text-align: center;
  font-size: 3.0rem;
  height: inherit;
  color: var(--accent-blue);
  font-weight: bold;
  margin: 0 0.3rem;
}

/* INFO */
.header-width-cap .header-info {
  float: right;
  height: inherit;
  display: flex;
}
.header-info .info-part {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 4rem;
  align-items: center;
}
.info-part .info-round {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  width: 90%;
  border-radius: 12px;
}
.header-info .info-part:hover .info-round {
  background-color: var(--color-white);
}
.info-round .info-logo {
  height: 24px;
}
.info-round .info-text {
  font-weight: bold;
}

/* DROPDOWN */
.header-width-cap .header-dropdown {
  float: right;
  width: 70px;
}
.header-dropdown:hover .image-cropper-header {
  background-color: var(--color-white);
}
.header-dropdown:hover .header-dropdown-content {
  display: block;
}
.header-dropdown-content {
  display: none;
  position: relative;
  right: 100px;
  top: -5px;
  width: 160px;
  z-index: 1;
  padding: 0px 12px 12px 12px;
}
.header-dropdown-content .header-dropdown-item {
  color: var(--color-black);
  padding: 0.75rem 1.0rem;
  box-shadow: -4px 8px 0px 0px rgba(0,0,0,0.4);
  border-radius: 12px;
  background-color: var(--color-white);
  text-decoration: none;
  display: block;
  margin-top: 12px;
}
.header-dropdown-content .header-dropdown-item:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .header-content-flex {
    display: flex;
    align-items: center;
    height: 70px;
  }
  .header-content-flex .header-title {
    font-size: 25px;
    word-spacing: 800px;
    height: auto;
  }
}
