.header-container {
  position: relative;
  display: flex;
  width: 100%;
  padding-top: 1vh;
  height: 14vh;
  background-color: var(--theme-light-cream);
}

/* Components of Header */
.header-space {
  flex: 4;
  padding-bottom: 1vh;
}
.header-space .logo {
  position: relative;
  float: right;
}
.header-space .logo:hover {
  opacity: 0.7;
}
.header-title {
  flex: 12;
  flex-shrink: 2;
  text-align: center;
  font-size: 8vh;
}
.header-info {
  flex: 3;
}
.header-info .top {
  font-weight: bold;
}
.header-info .top .level {
  display: inline;
}
.header-info .top .right {
  display: inline;
  float: right;
}
.header-info .top .right .coin-img {
  display: inline;
  height: 16px;
  transform: translateY(2px);
  padding-right: 4px;
}
.header-info .top .right .num-coins {
  display: inline;
}
.header-info .exp {
  font-weight: bold;
}
.header-dropdown {
  flex: 1;
  padding: 0 1vh;
}
