.header-container {
  position: relative;
  display: flex;
  width: 100%;
  padding-top: 1vh;
  height: 14vh;
  background-color: var(--theme-light-cream);
}

/* Components of Header */
.header-space {
  flex: 4;
  padding-bottom: 1vh;
}
.header-space .logo {
  position: relative;
  float: right;
}
.header-space .logo:hover {
  opacity: 0.7;
}
.header-title {
  flex: 12;
  flex-shrink: 2;
  text-align: center;
  font-size: 8vh;
}
.header-info {
  flex: 3;
}
.header-info .top {
  font-weight: bold;
}
.header-info .top .level {
  display: inline;
}
.header-info .top .right {
  display: inline;
  float: right;
}
.header-info .top .right .coin-img {
  display: inline;
  height: 16px;
  transform: translateY(2px);
  padding-right: 4px;
}
.header-info .top .right .num-coins {
  display: inline;
}
.header-info .exp {
  font-weight: bold;
}

.header-dropdown-square {
  margin: 0 1vh;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.header-dropdown-square:hover .profile-pic-header {
  background-color: var(--theme-blue);
}

.header-dropdown {
  flex: 1;
  position: relative;
  display: inline-block;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
}
.header-dropdown:hover .profile-pic-header {
  background-color: var(--theme-blue);
}
.header-dropdown-content {
  display: block;
  position: absolute;
  right: 0;
  min-width: 160px;
  z-index: 1;
  padding: 0px 0px 12px 12px;
}
.header-dropdown-content .header-dropdown-item {
  color: black;
  padding: 12px 16px;
  box-shadow: -4px 8px 0px 0px rgba(0,0,0,0.4);
  border-radius: 12px;
  background-color: white;
  text-decoration: none;
  display: block;
  margin-top: 12px;
}
.header-dropdown-content .header-dropdown-item:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
