.header-container-game {
  position: relative;
  display: flex;
  width: 100%;
  height: 5vh;
  background-color: var(--theme-light-cream);
}

/* Components of Header */
.header-logo-game {
  flex: 1;
  padding: 0.5vh;
  background-color: var(--theme-light-blue);
}
.header-logo-game:hover {
  background-color: var(--theme-blue);
  cursor: pointer;
}
.header-space-game {
  flex: 3;
}
.header-title-game {
  flex: 4;
  flex-shrink: 2;
  padding-top: 1vh;
  text-align: center;
  font-weight: bold;
  font-size: 1.0em;
  letter-spacing: 0.5em;
}
.header-info-game {
  flex: 3;
  padding-top: 1vh;
}
.header-info-game .level {
  display: inline;
  float: right;
}
.header-info-game .exp {
  display: inline;
  float: right;
  padding-left: 3vh;
}
.header-dropdown-game {
  flex: 1;
  margin-left: 1vh;
  background-color: var(--theme-light-blue);
}
.header-dropdown-game:hover {
  background-color: var(--theme-blue);
  cursor: pointer;
}
