.body-container {
  display: flex;
  margin: 0px 10px;
  min-height: calc(100vh - var(--header-height));
}

/* MAIN NAV */
.main-nav {
  flex: 5 2 calc(10rem + 10vmax);
  min-width: calc(10rem + 10vmax);
  max-width: calc(15rem + 10vmax);
}
.main-nav .container {
  padding: 10px;
  background-color: var(--color-white);
  border: 2px solid var(--accent-blue);
  border-top: none;
  border-radius: 0px 0px 32px 32px;
}

/* NORMAL BUTTONS */
.main-nav .container .button-outer {
  padding: calc(0.25rem + 1vmin);
  font-size: calc(1rem + 2vmin);
  color: var(--color-black);
}
.main-nav .container .button-outer:hover {
  cursor: pointer;
}
.main-nav .container .button-outer .button-inner {
  padding: calc(0.25rem + 1vmin);
  border-radius: 64px;
  font-weight: bold;
}
.main-nav .container .button-outer:hover .button-inner {
  background-color: var(--light-blue);
  color: var(--accent-blue);
}
.main-nav .container .button-active {
  color: var(--accent-blue);
}

/* PLAY BUTTONS */
.main-nav .container .play-options .button-outer {
  padding: 0.1rem;
  font-size: calc(0.5rem + 2vmin);
  margin-left: calc(1.5rem + 2vmin);
}
.main-nav .container .play-options .button-outer .button-inner {
  padding: 0.1rem;
}
.main-nav .container .play-options .button-outer:hover .button-inner {
  background-color: var(--light-orange);
  color: var(--accent-orange);
}

/* MID NAV */
.mid-nav {
  flex: 12 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mid-nav.empty {
  justify-content: center;
  align-self: flex-end;
}
.mid-nav .mid-nav-item {
  background-color: white;
  margin: 0 10px;
  padding: 10px 0;
  /* center content within the mid nav */
  display: flex;
  justify-content: center;
  background-color: var(--color-white);
  border: 2px solid var(--accent-blue);
  border-top: none;
  border-radius: 0px 0px 32px 32px;
}
.mid-nav .characters {
  align-self: flex-end;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  width: 80%;
  object-fit: contain;
  z-index: -3;
  border-bottom: 10px dotted var(--accent-blue);
  margin-bottom: 10px;
}

/* SIDE NAV */
.side-nav {
  flex: 4 0 calc(5rem + 8vmax);
  min-width: calc(5rem + 8vmax);
  max-width: calc(15rem + 8vmax);
  align-self: flex-end;
  position: relative;
  border-radius: 32px 32px 0 0;
}
.side-nav .container {
  padding: 10px;
  background-color: var(--accent-blue);
  color: var(--color-white);
  border-radius: 32px 32px 0 0;
  height: calc(100vh - var(--header-height) - (2rem + 10vmin) - 20px - 10px);
  min-height: 150px;
  max-height: 600px;
  position: relative;
}
.side-nav .container .side-nav-title {
  margin-top: 0;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}
.side-nav .container .coming-soon {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 4px;
  padding: 2px 16px;
  border-radius: 12px;
  background-color: var(--tinted-white);
}
.side-nav .store-link {
  position: relative;
  display: block;
  height: calc(2rem + 10vmin);
  background-color: var(--color-white);
}
.side-nav .store-link .store {
  position: relative;
  display: block;
  top: calc(0.5rem + 2vmin);
  height: calc(1rem + 6vmin);
  margin-left: auto;
  margin-right: auto;
}
