.App-logo {
  height: 20vmin;
  pointer-events: none;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App-container {
  color: white;
  background-color: var(--theme-dark-blue));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.cs-title {
  font-size: 1.5em;
}

.cs-loading-text {
  font-size: 1.0em;
  background-color: var(--theme-light-blue);
  padding: 0.2em 0.8em;
  border-radius: 10px;
  text-transform: uppercase;
}
.cs-characters {
  height: 20vh;
  margin-top: 5vh;
  border-bottom: 10px dotted var(--theme-light-blue);
}
