.App-logo {
  height: 20vmin;
  pointer-events: none;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-container {
  color: var(--color-white);
  background-color: var(--dark-blue));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.loading-x-circle {
  color: var(--color-white);
  text-decoration: none;
  position: fixed;
  top: 12px;
  left: 12px;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-x-circle:hover {
  cursor: pointer;
  background-color: var(--theme-sky);
  color: var(--dark-blue);
}
.loading-x {
  font-size: 1em;
}

.loading-title {
  font-size: 1.5em;
}

.loading-text {
  font-size: 1.0em;
  background-color: var(--theme-sky);
  color: var(--color-black);
  padding: 0.2em 0.8em;
  border-radius: 10px;
  text-transform: uppercase;
}
.loading-characters {
  height: 20vh;
  margin-top: 5vh;
  border-bottom: 10px dotted var(--theme-sky);
}
