.image-cropper-header {
  position: relative;
  overflow: hidden;
  height: 66px;
  width: 66px;
  border-radius: 50%;
  border: 2px dotted black;
}
.profile-pic-header {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.image-cropper-header-game {
  overflow: hidden;
  width: 52px;
  transform: translateY(-16px);
  float: right;
  padding-right: 2px;
}
.profile-pic-header-game {
  transform: rotate(-90deg);
}
