.image-cropper-header {
  position: relative;
  overflow: hidden;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  border: 2px solid black;
}
.profile-pic-header {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
  background-color: var(--theme-light-blue);
}
.profile-pic-header:hover {
  background-color: var(--theme-blue);
  cursor: pointer;
}

.image-cropper-header-game {
  position: relative;
  overflow: hidden;
  width: 5vh;
  height: auto;
  float: right;
  padding-right: 1vh;
}
.profile-pic-header-game {
  transform: rotate(-90deg);
}
