.image-cropper-header {
  position: relative;
  overflow: hidden;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  border: 2px dotted black;
}
.profile-pic-header {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.image-cropper-header-game {
  position: relative;
  overflow: hidden;
  width: 5vh;
  height: auto;
  float: right;
  padding-right: 1vh;
}
.profile-pic-header-game {
  transform: rotate(-90deg);
}
