.score-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 25%;
  left: 25%;
  height: 40%;
  width: 40%;
  padding: 3%;
  background-color: var(--theme-cream);
  border-radius: 20px;
  z-index: 4;
}
.score-text {
  flex: 4;
}
.game-action {
  flex: 1;
  width: 30%;
  text-align: center;
  margin: auto;
  background-color: var(--theme-light-blue);
  border-radius: 20px;
  font-weight: bold;
}
.offline-button {
}
.offline-button:hover {
  background-color: var(--theme-blue);
}
.online-timer {
  pointer-events: none;
}
