.score-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 25%;
  left: 25%;
  min-height: 40%;
  min-width: 40%;
  padding: 3%;
  background-color: var(--theme-sky);
  border-radius: 24px;
  z-index: 4;
}

.score-text {
  flex: 4;
}
.score-text .phrase {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.score-text .info {

}
.score-text .info .key {
  display: inline;
  font-weight: bold;
  padding-right: 12px;
}
.score-text .info .value {
  display: inline;
}
.score-text .score {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.score-text .earnings {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}
.score-text .earning {
  flex: 1;
  text-align: center;
}

.game-action {
  flex: 1;
  width: 30%;
  text-align: center;
  margin: auto;
  background-color: var(--accent-red);
  color: var(--color-white);
  border-radius: 20px;
  font-weight: bold;
}
.offline-button {
}
.offline-button:hover {
  background-color: var(--light-red);
  color: var(--color-black);
}
.online-timer {
  pointer-events: none;
}
