.store-info-name {
  padding: 2.5vh 0;
  font-size: 1.3em;
  text-transform: capitalize;
}
.store-info-image {
  height: 30vh;
  text-align: center;
}
.store-info-image img {
  height: 100%;
  object-fit: contain;
}
.store-info-description {
  margin-top: 5vh;
}
.store-info-button {
  width: 30%;
  display: block;
  text-align: center;
  margin: auto;
  border-radius: 20px;
  margin-top: 5vh;
  text-transform: uppercase;
  font-weight: bold;
}

.store-info-buy-yes {
  background-color: var(--theme-light-green);
}
.store-info-buy-yes:hover {
  background-color: var(--theme-green);
}
.store-info-buy-no {
  background-color: var(--theme-light-grey);
  pointer-events: none;
}
.store-info-use {
  background-color: var(--theme-light-cream);
}
.store-info-use:hover {
  background-color: var(--theme-cream);
}
.store-info-active {
  background-color: white;
  pointer-events: none;
}

.store-coin-img {
  display: inline;
  height: 16px;
  transform: translateY(2px);
  padding-right: 4px;
}
