.store-info-name {
  padding: 2.5vh 0;
  font-size: calc(0.5rem + 3vmin);
  font-weight: bold;
  text-transform: capitalize;
}
.store-info-image {
  height: 40vh;
  text-align: center;
}
.store-info-image img {
  height: 100%;
  object-fit: contain;
}
.store-info-description {
  margin-top: calc(0.5rem + 3vmin);
}
.store-info-button {
  min-width: 30%;
  display: block;
  text-align: center;
  margin: auto;
  border-radius: 32px;
  margin-top: calc(0.5rem + 3vmin);
  text-transform: uppercase;
  font-weight: bold;
}

.store-info-buy-yes {
  background-color: #B4ECB4;
}
.store-info-buy-yes:hover {
  background-color: #77DD77;
}
.store-info-buy-no {
  background-color: #EBEDF2;
  pointer-events: none;
}
.store-info-use {
  background-color: var(--light-orange);
}
.store-info-use:hover {
  background-color: var(--accent-orange);
}
.store-info-active {
  background-color: var(--color-white);
  pointer-events: none;
}

.store-coin-img {
  display: inline;
  height: 16px;
  transform: translateY(2px);
  padding-right: 4px;
}
