.store-body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.store-container {
  display: flex;
  max-height: calc(100vh - var(--header-height) - 32px);
  width: 100%;
}

.store-container .store-left-container {
  flex: 1;
  overflow: auto;
}
.store-container .store-left-container .store-left {
  margin-right: 1rem;
}
.store-left .store-title {
  font-size: calc(0.5rem + 4vmin);
  text-align: center;
  font-weight: bold;
  background-color: var(--tinted-white);
  border-radius: 32px;
}

.store-container .store-right-container {
  flex: 2;
  overflow: auto;
}
.store-container .store-right-container .store-right {
  padding-left: 1rem;
  border-left: 4px solid var(--dark-blue);
}

.store-right .category-title {
  font-size: calc(0.5rem + 2vmin);
  font-weight: bold;
  text-transform: capitalize;
}
.store-right .category {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin-bottom: 1rem;
  height: calc(5rem + 10vmin);
  background-color: var(--tinted-white);
}
.store-right .category .item {
  height: 100%;
  width: calc(5rem + 10vmin);
  display: inline-block;
  text-align: center;   /* center each image horizontally */
}
.store-right .category .item img {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  margin: 10px;
  object-fit: contain;
}
.store-right .category .item:hover {
  background: white;
  cursor: pointer;
}
