:root {
  /* CORE COLORS */
  --theme-cream: #FFD9B3;
  --theme-sky: #B3D9FF;

  /* FOR TEXT */
  --color-black: #000000;
  --color-white: #FFFFFF;
  --tinted-white: rgba(255, 255, 255, 0.6);

  /* ACCENT COLORS */
  --accent-red: #FF4B4B;
  --accent-green: #17BF63;
  --accent-blue: #1C9AE8;
  --accent-orange: #FF9600;
  --accent-purple: #CD82FF;

  /* DARK COLORS */
  --dark-red: #8F2121;
  --dark-green: #0C4D29;
  --dark-blue: #235091;
  --dark-orange: #784B00;
  --dark-purple: #612487;

  /* LIGHT COLORS */
  --light-red: #FCE9EF;
  --light-green: #E7F8EF;
  --light-blue: #E8F5FE;
  --light-orange: #FFF7E8;
  --light-purple: #F1EDF9;

  /* ADDITIONAL */
  --card-width: 100px;
  --card-height: calc(1056/691 * var(--card-width));
  --card-spacing: 25px;
  --hand-width: calc(12 * var(--card-spacing) + var(--card-width));
  --header-height: 82px;
  --scrollbar-height: 20px;
}

* {
  transition-duration: 0.1s;
}

body {
  margin: 0 auto;
  padding: 0;
  overflow-wrap: break-word;
}
.body-width-cap-container {
  display: flex;
  justify-content: center;
  min-width: 800px;
  min-height: calc(100vh - var(--header-height));
}
@media screen and (max-width: 800px) {
  .body-width-cap-container {
    min-height: calc(100vh - var(--header-height) - var(--scrollbar-height));
  }
}

.body-width-cap {
  width: 100%;
  max-width: 1500px;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  outline: none;
}
button:hover {
  cursor: pointer;
}

hr.hr-black {
  border-top: 4px solid black;
  border-bottom: 0px;
}
hr.hr-white {
  border-top: 4px solid white;
  border-bottom: 0px;
}
hr.hr-clear {
  border-top: 4px solid var(--tinted-white);
  border-bottom: 0px;
}
