:root {
  --theme-cream: #FFD9B3;
  --theme-sky: #B3D9FF;
  --tinted-white: rgba(255, 255, 255, 0.6);
  --accent-blue: #1C9AE8;
  --dark-blue: #235091;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: var(--theme-cream);
  overflow-wrap: break-word;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button:hover {
  cursor: pointer;
}
