/* 1.0rem = 16px */

:root {
  /* CORE COLORS */
  --theme-cream: #FFD9B3;
  --theme-sky: #B3D9FF;

  /* FOR TEXT */
  --color-black: #000000;
  --color-white: #FFFFFF;
  --tinted-white: rgba(255, 255, 255, 0.6);

  /* ACCENT COLORS */
  --accent-red: #FF4B4B;
  --accent-green: #17BF63;
  --accent-blue: #1C9AE8;
  --accent-orange: #FF9600;
  --accent-purple: #CD82FF;

  /* DARK COLORS */
  --dark-red: #8F2121;
  --dark-green: #0C4D29;
  --dark-blue: #235091;
  --dark-orange: #784B00;
  --dark-purple: #612487;

  /* LIGHT COLORS */
  --light-red: #FCE9EF;
  --light-green: #E7F8EF;
  --light-blue: #E8F5FE;
  --light-orange: #FFF7E8;
  --light-purple: #F1EDF9;

  /* ADDITIONAL */
  --header-height: calc(70px + 0.6rem + 2px);
  --scrollbar-height: 20px;
}

body {
  margin: 0 auto;
  padding: 0;
  overflow-wrap: break-word;
}
.body-width-cap-container {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - var(--header-height));
}
@media screen and (max-width: 800px) {
  .body-width-cap-container {
    min-height: calc(100vh - var(--header-height) - var(--scrollbar-height));
  }
}

.body-width-cap {
  width: 100%;
  max-width: 1500px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  outline: none;
}
button:hover {
  cursor: pointer;
}

/* When using this, you can specify:
- width
- padding
- margin-right
*/
.clicky-button {
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-white);
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
.clicky-button:hover {
  cursor: pointer;
}
.clicky-button:active {
  margin-top: 2px;
  margin-bottom: -2px;
}
.clicky-button.small {
  box-shadow: 0 2px var(--color-black);
  min-width: 50px;
  padding: 2px 6px;
}
.clicky-button.medium {
  box-shadow: 0 3px var(--color-black);
  min-width: 120px;
  padding: 6px 10px;
}
.clicky-button.large {
  box-shadow: 0 4px var(--color-black);
  min-width: 280px;
  padding: 12px 18px;
}
.clicky-button:active,
.clicky-button.small:active,
.clicky-button.medium:active,
.clicky-button.large:active {
  box-shadow: 0px 0px var(--color-white);
}

hr.hr-black {
  border-top: 4px solid black;
  border-bottom: 0px;
}
hr.hr-white {
  border-top: 4px solid white;
  border-bottom: 0px;
}
hr.hr-clear {
  border-top: 4px solid var(--tinted-white);
  border-bottom: 0px;
}

.no-underline {
  text-decoration: none;
}
