.title {
  font-size: 24px;
  margin-top: 24px;
  text-align: center;
  font-weight: bold;
}
.refresh {
  display: block;
  margin: 12px 0px 24px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  outline: 0;
  border: none;
  padding: 8px 32px;
  border-radius: 32px;
  font-weight: bold;
}
.refresh:hover {
  background-color: var(--light-blue);
  color: var(--accent-blue);
}

.tables-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.table {
  flex: 0;
  min-width: 220px;
  text-decoration: none;
  color: var(--color-black);
  margin: 12px;
  padding: 12px;
  border-radius: 16px;
}
.join-table {
  background-color: var(--theme-sky);
}
.join-table:hover {
  background-color: var(--accent-blue);
  color: var(--color-white);
}
.full-table {
  background-color: var(--light-red);
}

.table-name {
  text-align: center;
  font-weight: bold;
}
.table-num-users {

}
.table-activity {

}
